.wrapper{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    .panelContainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: .8rem;
    }
    .kanbanContainer{
        display: flex;
        flex: 1;
        max-height: 50rem;
        //min-height: 50rem;
        overflow-x: scroll;
        margin-right: 2rem;
        .kanbanItem{
            display: flex;
            overflow: hidden;
            flex-direction: column;
            min-width: 27rem;
            border-radius: .12rem;
            background-color: rgb(244, 245, 247);
            padding: 0.7rem 0.7rem 1rem;
            margin-right: 1.5rem;
            
            .taskContainer{
                overflow: scroll;
               flex: 1;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
}

